In [1]:
#  Importando as bibliotecas
import pandas as pd
import numpy as np
import re

In [2]:
url = 'https://raw.githubusercontent.com/robertferro/calculadora-aluguel-ml/main/1%20-%20web-scraping/dados_aluguels_imoveis_ml_sao_paulo.csv'
df = pd.read_csv(url ,thousands = '.', encoding = 'latin')

In [3]:
list(df.area_quartos)[0:10]

['82 m² construídos3 quartos',
 '48 m² construídos1 quarto',
 '105 m² construídos3 quartos',
 '95 m² construídos3 quartos',
 '50 m² construídos2 quartos',
 '50 m² construídos2 quartos',
 '60 m² construídos2 quartos',
 '51 m² construídos2 quartos',
 '58 m² construídos2 quartos',
 '65 m² construídos3 quartos']

In [4]:
df.head()

,zona,area_quartos,enderecos_lista,aluguel
0,norte,82 m² construídos3 quartos,"Rua Dona Maria Quedas, Jardim Andaraí, São Pau...",1098
1,norte,48 m² construídos1 quarto,"R Desembargador Euclides Da Silveira, Casa Ver...",2000
2,norte,105 m² construídos3 quartos,"Av Braz Leme, Santana, São Paulo Zona Norte, S...",3000
3,norte,95 m² construídos3 quartos,"Avenida Nova Cantareira, Tucuruvi, São Paulo Z...",1814
4,norte,50 m² construídos2 quartos,"Parada Pinto, Vila Nova Cachoeirinha, São Paul...",1100

## Pegando a área dos quartos

In [5]:
# Criei esse subset com algumas das situacoes que encontramos
area_quartos_subset = ['1,360 m² totais',
                       '2 quartos',
                       '53 m² construídos2 quartos',
                        '280 m² construídos',
                        '2,600 m² construídos']

In [6]:
entrada = '1,360 m² totais'

In [7]:
def pegar_area(entrada):
    if ' m²' in entrada:
      area = entrada.split(' m²')[0]
      area = area.replace(',', '')
    else:
      area = np.nan
    return area

In [8]:
df['area'] = df['area_quartos'].apply(pegar_area)

In [9]:
df.head()

,zona,area_quartos,enderecos_lista,aluguel,area
0,norte,82 m² construídos3 quartos,"Rua Dona Maria Quedas, Jardim Andaraí, São Pau...",1098,82
1,norte,48 m² construídos1 quarto,"R Desembargador Euclides Da Silveira, Casa Ver...",2000,48
2,norte,105 m² construídos3 quartos,"Av Braz Leme, Santana, São Paulo Zona Norte, S...",3000,105
3,norte,95 m² construídos3 quartos,"Avenida Nova Cantareira, Tucuruvi, São Paulo Z...",1814,95
4,norte,50 m² construídos2 quartos,"Parada Pinto, Vila Nova Cachoeirinha, São Paul...",1100,50

## Pegando a quantidade de quartos

In [10]:
entrada = '2 quartos'

In [11]:
re.findall('(.?) quarto', entrada)[0]

'2'

In [12]:
area_quartos_subset = ['1,360 m² totais',
                       '2 quartos',
                       '53 m² construídos2 quartos',
                        '280 m² construídos',
                        '2,600 m² construídos']

In [13]:
def extrair_quartos(entrada):
    if 'quarto' in entrada:
        n_quartos = re.findall('(\d*) quarto', entrada)[0]
    else:
        n_quartos = np.nan
    return n_quartos

In [14]:
area_quartos_subset = ['1,360 m² totais',
                       '2 quartos',
                       '53 m² construídos2 quartos',
                        '280 m² construídos',
                        '2,600 m² construídos']

In [15]:
for aq in area_quartos_subset:
  print(extrair_quartos(aq))

nan
2
2
nan
nan

In [16]:
df['quartos'] = df['area_quartos'].apply(extrair_quartos)

In [17]:
df.head()

,zona,area_quartos,enderecos_lista,aluguel,area,quartos
0,norte,82 m² construídos3 quartos,"Rua Dona Maria Quedas, Jardim Andaraí, São Pau...",1098,82,3
1,norte,48 m² construídos1 quarto,"R Desembargador Euclides Da Silveira, Casa Ver...",2000,48,1
2,norte,105 m² construídos3 quartos,"Av Braz Leme, Santana, São Paulo Zona Norte, S...",3000,105,3
3,norte,95 m² construídos3 quartos,"Avenida Nova Cantareira, Tucuruvi, São Paulo Z...",1814,95,3
4,norte,50 m² construídos2 quartos,"Parada Pinto, Vila Nova Cachoeirinha, São Paul...",1100,50,2

In [18]:
df = df.drop('area_quartos', axis = 1)

In [19]:
df.head()

,zona,enderecos_lista,aluguel,area,quartos
0,norte,"Rua Dona Maria Quedas, Jardim Andaraí, São Pau...",1098,82,3
1,norte,"R Desembargador Euclides Da Silveira, Casa Ver...",2000,48,1
2,norte,"Av Braz Leme, Santana, São Paulo Zona Norte, S...",3000,105,3
3,norte,"Avenida Nova Cantareira, Tucuruvi, São Paulo Z...",1814,95,3
4,norte,"Parada Pinto, Vila Nova Cachoeirinha, São Paul...",1100,50,2

In [20]:
df.shape

(1536, 5)

## Pegando a rua

In [21]:
dados = df.copy()

In [22]:
informacoes = dados['enderecos_lista'].str.split(",", n = 2, expand = True)
informacoes

,0,1,2
0,Rua Dona Maria Quedas,Jardim Andaraí,"São Paulo Zona Norte, São Paulo"
1,R Desembargador Euclides Da Silveira,Casa Verde,"São Paulo Zona Norte, São Paulo"
2,Av Braz Leme,Santana,"São Paulo Zona Norte, São Paulo"
3,Avenida Nova Cantareira,Tucuruvi,"São Paulo Zona Norte, São Paulo"
4,Parada Pinto,Vila Nova Cachoeirinha,"São Paulo Zona Norte, São Paulo"
...,...,...,...
1531,Rua Torres Da Barra,Água Branca,"São Paulo Zona Oeste, São Paulo"
1532,Rua M.m.d.c,Butantã,"São Paulo Zona Oeste, São Paulo"
1533,Av.dona Helena Pereira De Moraes,Parque Do Morumbi,"São Paulo Zona Oeste, São Paulo"
1534,Rua Acuruá,Vila Romana,"São Paulo Zona Oeste, São Paulo"
1535,Rua Caraíbas,Perdizes,"São Paulo Zona Oeste, São Paulo"

In [23]:
dados['rua_av'] = informacoes[0]
dados['bairro'] = informacoes[1]
dados.head()

,zona,enderecos_lista,aluguel,area,quartos,rua_av,bairro
0,norte,"Rua Dona Maria Quedas, Jardim Andaraí, São Pau...",1098,82,3,Rua Dona Maria Quedas,Jardim Andaraí
1,norte,"R Desembargador Euclides Da Silveira, Casa Ver...",2000,48,1,R Desembargador Euclides Da Silveira,Casa Verde
2,norte,"Av Braz Leme, Santana, São Paulo Zona Norte, S...",3000,105,3,Av Braz Leme,Santana
3,norte,"Avenida Nova Cantareira, Tucuruvi, São Paulo Z...",1814,95,3,Avenida Nova Cantareira,Tucuruvi
4,norte,"Parada Pinto, Vila Nova Cachoeirinha, São Paul...",1100,50,2,Parada Pinto,Vila Nova Cachoeirinha

 - Criando a coluna rua ou avenida

In [24]:
rua_avenida = dados['rua_av'].str.split(' ', n=1 , expand=True)

In [25]:
rua_avenida[0].value_counts()

Rua            1203
Avenida         206
Alameda          17
Praça            13
Vila             11
Av.              11
R.                6
Av                4
Travessa          4
Jardim            4
R                 3
Pinheiros         3
Alto              3
Amador            2
Apucarana         2
Capitão           2
Penha             2
Ataliba           1
Cardoso           1
Água              1
Tv.               1
Jorge             1
Conceição         1
Artur             1
Das               1
Josino            1
Lucerna           1
Rodovia           1
Dr                1
Sítio             1
Largo             1
General           1
Doutor            1
Parada            1
Guaicurus         1
Estrada           1
Enrico            1
Eça               1
Antônio           1
Brandão           1
City              1
Principe          1
Belenzinho        1
Pereira           1
Voluntários       1
Av.dona           1
Acalanto          1
Viaduto           1
Nao               1
Conjunto          1
Epaminondas       1
Lapa              1
Narita            1
Fagundes          1
Garção            1
9                 1
Soldado           1
Name: 0, dtype: int64

In [26]:
dados['rua_av'] = rua_avenida[0]
dados['nome'] = rua_avenida[1]

In [27]:
dados.rua_av.value_counts()

Rua            1203
Avenida         206
Alameda          17
Praça            13
Vila             11
Av.              11
R.                6
Av                4
Travessa          4
Jardim            4
R                 3
Pinheiros         3
Alto              3
Amador            2
Apucarana         2
Capitão           2
Penha             2
Ataliba           1
Cardoso           1
Água              1
Tv.               1
Jorge             1
Conceição         1
Artur             1
Das               1
Josino            1
Lucerna           1
Rodovia           1
Dr                1
Sítio             1
Largo             1
General           1
Doutor            1
Parada            1
Guaicurus         1
Estrada           1
Enrico            1
Eça               1
Antônio           1
Brandão           1
City              1
Principe          1
Belenzinho        1
Pereira           1
Voluntários       1
Av.dona           1
Acalanto          1
Viaduto           1
Nao               1
Conjunto          1
Epaminondas       1
Lapa              1
Narita            1
Fagundes          1
Garção            1
9                 1
Soldado           1
Name: rua_av, dtype: int64

Excluindo dados inconsistentes referentes a coluna rua_av.

In [28]:
selecao_lista = list(dict(dados.rua_av.value_counts().head(9)).keys())

In [29]:
dados = dados.set_index('rua_av')
dados = dados.loc[selecao_lista]
dados = dados.reset_index()

In [30]:
dados.rua_av.value_counts()

Rua         1203
Avenida      206
Alameda       17
Praça         13
Vila          11
Av.           11
R.             6
Travessa       4
Av             4
Name: rua_av, dtype: int64

In [ ]:
dados = dados.set_index('rua_av')

In [35]:
dados.head()

,zona,enderecos_lista,aluguel,area,quartos,bairro,nome
rua_av,,,,,,,
Rua,norte,"Rua Dona Maria Quedas, Jardim Andaraí, São Pau...",1098,82,3,Jardim Andaraí,Dona Maria Quedas
Rua,norte,"Rua Vitalina Moura, Vila Roque, São Paulo Zona...",1400,50,2,Vila Roque,Vitalina Moura
Rua,norte,"Rua Alcindo Bueno De Assis, Barro Branco, São ...",1500,60,2,Barro Branco,Alcindo Bueno De Assis
Rua,norte,"Rua Artur De Oliveira, Parque Peruche, São Pau...",2500,51,2,Parque Peruche,Artur De Oliveira
Rua,norte,"Rua Maria Bandini Savoy, Parque Mandaqui, São ...",1300,58,2,Parque Mandaqui,Maria Bandini Savoy

In [38]:
dados = dados.drop('Vila')
dados = dados.reset_index()

In [39]:
dados.rua_av.value_counts()

Rua         1203
Avenida      206
Alameda       17
Praça         13
Av.           11
R.             6
Travessa       4
Av             4
Name: rua_av, dtype: int64

In [40]:
dic_logradouro = {'Rua' : 'rua', 'Avenida':'avenida', 'Alameda': 'alameda',
                 'Praça': 'praca', 'Av.':'avenida', 'R.':'rua', 'Travessa':'travessa'}

In [41]:
dados['rua_av'] = dados['rua_av'].map(dic_logradouro)

In [42]:
dados.rua_av.value_counts()

rua         1209
avenida      217
alameda       17
praca         13
travessa       4
Name: rua_av, dtype: int64

 - Renomeando colunas e reordenando.

In [43]:
dados.columns

Index(['rua_av', 'zona', 'enderecos_lista', 'aluguel', 'area', 'quartos',
       'bairro', 'nome'],
      dtype='object')

In [44]:
dados.columns=['logradouro', 'zona', 'enderecos_lista', 'aluguel', 'area', 'quartos',
       'bairro', 'nome_logradouro']

In [45]:
dados = dados[['logradouro','nome_logradouro','bairro','zona', 'enderecos_lista', 'area', 'quartos','aluguel']]

In [46]:
dados = dados.drop('enderecos_lista', axis=1)

In [47]:
dados.head()

,logradouro,nome_logradouro,bairro,zona,area,quartos,aluguel
0,rua,Dona Maria Quedas,Jardim Andaraí,norte,82,3,1098
1,rua,Vitalina Moura,Vila Roque,norte,50,2,1400
2,rua,Alcindo Bueno De Assis,Barro Branco,norte,60,2,1500
3,rua,Artur De Oliveira,Parque Peruche,norte,51,2,2500
4,rua,Maria Bandini Savoy,Parque Mandaqui,norte,58,2,1300

In [48]:
dados.shape

(1464, 7)

In [49]:
dados.isna().sum()

logradouro          4
nome_logradouro     0
bairro              0
zona                0
area                0
quartos            24
aluguel             0
dtype: int64

In [53]:
df.to_csv('dados_aluguel_manipulados_ml_sao_paulo.csv', index =False , encoding = 'latin-1')