# Tratando os dados.

In [1]:
#  Importando as bibliotecas
import pandas as pd
import numpy as np
import re

In [2]:
url = 'https://raw.githubusercontent.com/robertferro/calculadora-aluguel-ml/main/1%20-%20web-scraping/dados_imoveis_sao_paulo.csv'
df = pd.read_csv(url ,thousands = '.', encoding = 'utf-8')

In [3]:
df.shape

(2445, 4)

In [4]:
df.head()

,zona_bairro,area_quartos,enderecos_lista,aluguel
0,Bela-Vista-centro,86 m² construídos2 quartos,"Bela Vista, São Paulo Centro, São Paulo",2200
1,Bela-Vista-centro,35 m² construídos1 quarto,"Rua Da Consolação, Consolação, São Paulo Centr...",3200
2,Bela-Vista-centro,35 m² construídos1 quarto,"Rua Da Consolação, Consolação, São Paulo Centr...",3700
3,Bela-Vista-centro,35 m² construídos1 quarto,"Rua Da Consolação, Consolação, São Paulo Centr...",3700
4,Bela-Vista-centro,25 m² construídos1 quarto,"Rua Bela Cintra, Consolação, São Paulo Centro,...",1800

In [5]:
list(df.area_quartos)[0:10]

['86 m² construídos2 quartos',
 '35 m² construídos1 quarto',
 '35 m² construídos1 quarto',
 '35 m² construídos1 quarto',
 '25 m² construídos1 quarto',
 '25 m² construídos1 quarto',
 '511 m² construídos1 quarto',
 '170 m² construídos3 quartos',
 '800 m² construídos',
 '400 m² construídos']

## Pegando a área dos quartos

In [6]:
# Criei esse subset com algumas das situacoes que encontramos
area_quartos_subset = ['1,360 m² totais',
                       '2 quartos',
                       '53 m² construídos2 quartos',
                        '280 m² construídos',
                        '2,600 m² construídos']

In [7]:
entrada = '1,360 m² totais'

In [8]:
def pegar_area(entrada):
    if ' m²' in entrada:
      area = entrada.split(' m²')[0]
      area = area.replace(',', '')
    else:
      area = np.nan
    return area

In [9]:
df['area'] = df['area_quartos'].apply(pegar_area)

In [10]:
df.head()

,zona_bairro,area_quartos,enderecos_lista,aluguel,area
0,Bela-Vista-centro,86 m² construídos2 quartos,"Bela Vista, São Paulo Centro, São Paulo",2200,86
1,Bela-Vista-centro,35 m² construídos1 quarto,"Rua Da Consolação, Consolação, São Paulo Centr...",3200,35
2,Bela-Vista-centro,35 m² construídos1 quarto,"Rua Da Consolação, Consolação, São Paulo Centr...",3700,35
3,Bela-Vista-centro,35 m² construídos1 quarto,"Rua Da Consolação, Consolação, São Paulo Centr...",3700,35
4,Bela-Vista-centro,25 m² construídos1 quarto,"Rua Bela Cintra, Consolação, São Paulo Centro,...",1800,25

## Pegando a quantidade de quartos

In [11]:
entrada = '2 quartos'

In [12]:
re.findall('(.?) quarto', entrada)[0]

'2'

In [13]:
area_quartos_subset = ['1,360 m² totais',
                       '2 quartos',
                       '53 m² construídos2 quartos',
                        '280 m² construídos',
                        '2,600 m² construídos']

In [14]:
def extrair_quartos(entrada):
    if 'quarto' in entrada:
        n_quartos = re.findall('(\d*) quarto', entrada)[0]
    else:
        n_quartos = np.nan
    return n_quartos

In [15]:
area_quartos_subset = ['1,360 m² totais',
                       '2 quartos',
                       '53 m² construídos2 quartos',
                        '280 m² construídos',
                        '2,600 m² construídos']

In [16]:
for aq in area_quartos_subset:
  print(extrair_quartos(aq))

nan
2
2
nan
nan

In [17]:
df['quartos'] = df['area_quartos'].apply(extrair_quartos)

In [18]:
df.head()

,zona_bairro,area_quartos,enderecos_lista,aluguel,area,quartos
0,Bela-Vista-centro,86 m² construídos2 quartos,"Bela Vista, São Paulo Centro, São Paulo",2200,86,2
1,Bela-Vista-centro,35 m² construídos1 quarto,"Rua Da Consolação, Consolação, São Paulo Centr...",3200,35,1
2,Bela-Vista-centro,35 m² construídos1 quarto,"Rua Da Consolação, Consolação, São Paulo Centr...",3700,35,1
3,Bela-Vista-centro,35 m² construídos1 quarto,"Rua Da Consolação, Consolação, São Paulo Centr...",3700,35,1
4,Bela-Vista-centro,25 m² construídos1 quarto,"Rua Bela Cintra, Consolação, São Paulo Centro,...",1800,25,1

In [19]:
df = df.drop('area_quartos', axis = 1)

In [20]:
df.head()

,zona_bairro,enderecos_lista,aluguel,area,quartos
0,Bela-Vista-centro,"Bela Vista, São Paulo Centro, São Paulo",2200,86,2
1,Bela-Vista-centro,"Rua Da Consolação, Consolação, São Paulo Centr...",3200,35,1
2,Bela-Vista-centro,"Rua Da Consolação, Consolação, São Paulo Centr...",3700,35,1
3,Bela-Vista-centro,"Rua Da Consolação, Consolação, São Paulo Centr...",3700,35,1
4,Bela-Vista-centro,"Rua Bela Cintra, Consolação, São Paulo Centro,...",1800,25,1

## Pegando a zona e o bairro.

In [21]:
zona_bairro = df['zona_bairro'].str.split('zona', n=1, expand=True)

In [22]:
zona_bairro

                         0       1
0        Bela-Vista-centro    None
1        Bela-Vista-centro    None
2        Bela-Vista-centro    None
3        Bela-Vista-centro    None
4        Bela-Vista-centro    None
...                    ...     ...
2440            Carandiru-  -norte
2441            Carandiru-  -norte
2442  Vila-Cruz-Das-Almas-  -norte
2443  Vila-Cruz-Das-Almas-  -norte
2444        Jardim-Brasil-  -norte

[2445 rows x 2 columns]

In [23]:
df['zona'] = zona_bairro[1]

In [24]:
df['bairro'] = zona_bairro[0]

 - Tratando a coluna zona.

In [25]:
df['zona'].value_counts()

-sul      626
-norte    574
-leste    545
-oeste    529
Name: zona, dtype: int64

In [26]:
df['zona'].isna().sum()

171

- Os dados ausentes da coluna zona, correspondem ao centro.

In [27]:
df['zona'] = df['zona'].fillna('centro')

In [28]:
df.zona.value_counts()

-sul      626
-norte    574
-leste    545
-oeste    529
centro    171
Name: zona, dtype: int64

 - Tratando a coluna bairro.

In [29]:
df['bairro'] = df['bairro'].str.replace('-centro','')

In [30]:
df['bairro'] = df['bairro'].str.replace('-', ' ')

In [35]:
df['bairro'].value_counts().tail(60)

Vila Pompéia                            21
Água Branca                             21
City América                            21
Vila Prudente                           21
Fazenda Morumbi                         21
Vila Buenos Aires                       21
Jabaquara                               21
Vila Madalena                           21
Freguesia Do Ó                          21
Cidade Moncoes                          21
Paraíso                                 21
Chácara Califórnia                      20
Jardim Leonor Mendes De Barros          19
Vila Monte Alegre                       19
Vila Amália                             19
Vila Medeiros                           17
Vila Ipojuca                            17
Vila Anglo Brasileira                   17
Jardim Penha                            17
Vila Antonieta                          17
Liberdade                               16
Vila Palmeiras                          16
Parque Novo Mundo                       15
Nossa Senhora Do Ó                      15
Vila Gustavo                            15
Vila Ester                              15
Vila Guilherme                          14
Nova Piraju                             13
Lar São Paulo                           13
Parada Xv De Novembro                   12
Brás                                    12
Vila Dom Pedro Ii                       12
Carandiru                               11
Quinta Da Paineira                      10
Jardim Ampliação                        10
Jardim Das Laranjeiras                   9
Vila Aurora                              9
Jaçanã                                   9
Luz                                      8
Parque Císper                            8
Lajeado                                  7
Conjunto Residencial José Bonifácio      6
Jardim Celeste                           6
Piqueri                                  6
Parque Edu Chaves                        6
Vila Basileia                            6
Bom Retiro                               4
Vila União                               4
Vila Paulista                            4
Vila Paiva                               3
Vila Cruz Das Almas                      2
Sítio Pinheirinho                        2
Morro Dos Ingleses                       2
Vila Suzana                              2
Vila Deodoro                             2
Jardim Brasil                            1
Jardim Íris                              1
Santa Efigênia                           1
Parque Rebouças                          1
Jardim América Da Penha                  1
Name: bairro, dtype: int64

 - Excluindo os bairros com menos de 10 registros.

In [39]:
df['bairro'].value_counts().tail(25)

Jardim Das Laranjeiras                  9
Vila Aurora                             9
Jaçanã                                  9
Luz                                     8
Parque Císper                           8
Lajeado                                 7
Conjunto Residencial José Bonifácio     6
Jardim Celeste                          6
Piqueri                                 6
Parque Edu Chaves                       6
Vila Basileia                           6
Bom Retiro                              4
Vila União                              4
Vila Paulista                           4
Vila Paiva                              3
Vila Cruz Das Almas                     2
Sítio Pinheirinho                       2
Morro Dos Ingleses                      2
Vila Suzana                             2
Vila Deodoro                            2
Jardim Brasil                           1
Jardim Íris                             1
Santa Efigênia                          1
Parque Rebouças                         1
Jardim América Da Penha                 1
Name: bairro, dtype: int64

In [40]:
drop_list = dict(df['bairro'].value_counts().tail(25))

In [41]:
drop_list = list(drop_list.keys())

In [42]:
df = df.set_index('bairro')

In [43]:
df = df.drop(drop_list)

In [46]:
df = df.reset_index()

In [48]:
df.bairro.value_counts().tail()

Brás                   12
Vila Dom Pedro Ii      12
Carandiru              11
Quinta Da Paineira     10
Jardim Ampliação       10
Name: bairro, dtype: int64

 - Renomeando colunas e reordenando.

In [60]:
df.columns

Index(['bairro', 'zona_bairro', 'enderecos_lista', 'aluguel', 'area',
       'quartos', 'zona'],
      dtype='object')

In [61]:
df = df.drop('zona_bairro', axis =1)

In [64]:
df = df.drop('enderecos_lista', axis=1)

In [65]:
df = df[['bairro','zona', 'area', 'quartos','aluguel']]

In [66]:
df.head()

       bairro    zona area quartos  aluguel
0  Bela Vista  centro   86       2     2200
1  Bela Vista  centro   35       1     3200
2  Bela Vista  centro   35       1     3700
3  Bela Vista  centro   35       1     3700
4  Bela Vista  centro   25       1     1800

In [67]:
df.to_csv('dados_aluguel_manipulados.csv', index =False , encoding = 'utf-8')

In [68]:
pd.read_csv('dados_aluguel_manipulados.csv', encoding = 'utf-8')

          bairro    zona   area  quartos  aluguel
0     Bela Vista  centro   86.0      2.0     2200
1     Bela Vista  centro   35.0      1.0     3200
2     Bela Vista  centro   35.0      1.0     3700
3     Bela Vista  centro   35.0      1.0     3700
4     Bela Vista  centro   25.0      1.0     1800
...          ...     ...    ...      ...      ...
2330  Carandiru   -norte  180.0      3.0     3500
2331  Carandiru   -norte  150.0      1.0     1550
2332  Carandiru   -norte  120.0      2.0     1700
2333  Carandiru   -norte  125.0      2.0     2500
2334  Carandiru   -norte   50.0      2.0     1300

[2335 rows x 5 columns]